[event]
# Edit the values, such they correspond to your event

# "official" planet name, with any spaces, for plot titles, e.g., HD 209458b
planetname   HD 209458b


# Event:
planet       hd209b        # 6-letter code of transiting planet
ecltype      s             # s=secondary, p=primary  eclipse, o=orbit 
photchan     2             # Spitzer photometry channel
visit        4             # serial number of this Spitzer "visit"
comment      None          # leave as 'None' to omit comment in event name


# Tepfile location (starting from /home/...):
tepfile  obsprep/TEP/hd209458b.tep


# Location of the data, relative to topdir (see below):
datadir      data/2014-Spitzer-Lewis/hd209bs24


# Spitzer pipeline version:
sscver       S19.2.0


# AORs: Enter as many AOR key numbers as there are:
# In aortype indicate the type: 0=data, 1=precalibration, 2=postcal.
aorname      50490880
aortype      0


# Permanently bad pixel mask (relative to: /home/esp01/data/.../cal/):
pmaskfile    feb14_ch2_bcd_pmask_subarray.fits


# Kurucz model for star (relative to: kuruczdir):
kuruczfile   hd209458b-fp00k2odfnew.pck


# PSF file, for aperture correction and/or PSF fitting. 
# Options:
#   default                 : Spitzer default PSF (only IRAC channels!).
#   /home/.../psf_file.fits : User specified PSF file.
#   nopsf                   : No PSF.
psffile      default


# A nod is a telescope motion.  A nod is usually the same as a
# position.  However, in MIPS, there are 2 nods and 7 mirror steps for
# 14 positions.
#
# instrument  IRAC    IRACSA         IRS   MIPS
# positions      1    1 or 9    1,2 or 4     14
# nodding        1    1 or 9    1,2 or 4      2

# star positions on chip
npos     1

# number of telescope motions per cycle
nnod     1


# BAD PIXELS:
# number of frames per bad pixel group:
szchunk  64

# bad pixel rejection threshholds
sigma    4.0  4.0

#Run p2 and p3 immediately after p1:
runp2 False
runp3 False

# Override variables:
# -------------------

# Reset right ascention and declination (same units as ra and dec)
ra        None
dec       None

# User rejected pixels:
# Set y,x pairs of bad pixel positions. e.g.: userrej  y1 x1 y2 x2 y3 x3 ...
userrej   None


# Variables we do NOT change:
# ---------------------------

# Convert from surface brightness (MJy/sr) to flux units (uJy/pix)?
fluxunits True

# project directory
topdir    new_test/

# ancil directories relative to project dir
leapdir    ancil/leapseconds/
hordir     ancil/horizons/
kuruczdir  ancil/kurucz/
filtdir    ancil/filter/
psfdir     ancil/psf/

# ancil files
#          irac                        irs              mips
filtfile   irac_tr2_2004-08-09.dat  bluePUtrans.txt  mips24-resp.txt
horfile    all_spitzer.vec

[denoise]
pcfname     None                    #name appended to ouput directory name

wavelet     bior5.5 #rbio3.9        #Type of wavelet(s) to use
threshold   bayesshrink             #Method(s) for computing wavelet threshold
numlvls     1 2 3 4                 #Number of levels to denoise

ncpu        10                      #Number of CPUs to use.
srcest      15.0,15.0               #Modify source estimate (brightest pixel)

[centering]
pcfname    None    # string to be appended to output directory name
method     lag     # Choose:  fgc: Fit gauss function.
                   #          col: Center of light fitting.
                   #          lag: Least asymmetry gaussian.
                   #          lac: Least asymmetry col.
                   #          ipf: interpolate-PSF fitting.
                   #          bpf: binning-PSF fitting.

ccores      1      # Number of cores per centering

# Data control variables:
noctr       False     # if True, don't center and use center of mean image.
ctrim       8         # Radius of trimmed box around the star. No trim if 0.
weights     False     # Use uncertainties as weights for fit.

# Background fit: 0: No fit (use median); 1: Fit a constant; 2: Fit a plane.
fitbg       1

# Run p4 immediately after:
runp4 False

# Least asymmetry parameters:
cradius     7.0     
csize       4.0     

# PSF control variables
psfctrim    20       # ctrim for PSF, usually 5x expanded.
psfcrad     35.0     # Least asymmetry parameters:
psfcsize    20.0

# Sky annulus radii for noise pixel calcuation. Should be the
# same as you intend to use for sky calculation in photometry.
npskyin   7
npskyout 15

# Mask specific pixels for centering:
# Enter pairs of pixel coordinates
ymask    None    # No spaces in between! e.g.:   y1,y2,y3,y4,y5
xmask    None    # No spaces in between! e.g.:   x1,x2,x3,x4,x5

# PSF fitting:
newpsf      None   # Re define the PSF:  e.g.  /home/.../some_PSF.fits
expand      5      # resample factor: 5 for SST PSF, custom for TinyTim PSF
nopsfctr    False  # Do Not do centering on the PSF. If True the PSF center 
                   # will be center of the PSF_frame.

# Override target position estimate
# Total number of estimates should match the number of telescope
# positions (i.e., if there is a dither). Enter pairs of pixel coords
srcesty     None  # No spaces in between! e.g.:   y1,y2,y3,y4,y5
srcestx     None  # No spaces in between! e.g.:   x1,x2,x3,x4,x5



[photometry]
pcfname    None      # name to be appended to output directory name
phottype   aper      # aper, optimal, var, or ell
ncores     1         # Number of processors used (for each aperture!)
denphot    False     # Use denoised data for photometry?

# Aperture photometry parameters
photap      2.75     # Photometry aperture radius or scaling factor if var
                     # or ell
offset      0        # Additive offset for photometry aperture radii
skyin       7.0      # Inner sky annulus radius
skyout     15.0      # Outer sky annulus radius
skyfrac     0.1      # Required sky fraction of good pixels
skymed      False    # The sky estimation:   True:median,  False:mean.
verbose     True     # Print outputs.
apscale     5        # Interpolation rescaling factor.
psfexpand   5        # PSF-data pixel scale ratio.

# Run p5 immediately after:
runp5 False

# Optimal photometry parameters:
otrim       8        # Radius of trimmed box around the target.

[p6]
# This config file is used for p6 to specify which centering/photometry
# to run as running everything might be excessive.

# If non-keyword arguments are passed to poet.py, this file will not be used.

# "all" or list centering methods like "fgc col_something"
centering       all

# "all" or list aperture dirs like "ap2250715 ap3000715"
photometry      all

# put the name of p6's output-directory's name.
modeldir   p6output          # optional

# number of threads allowed. 
# threads are used to parallelize the different centering and
# photometry combinations. If mcmc is used, each thread will use
# 'nchains' cores, so be careful if running mcmc on several
# cent/phot combinations.
threads    4

# alternatively, one can specify individual paths with
# not yet implemented


[params]
# This file get copied into each ancil directory when you run p6. (location
# will be of the form run/centering/photometry/ancil/) Changing this file
# in run/ will NOT update those files unless you delete them manually
# Note that not all options are listed in the default pcf files. Consult
# the user manual for more advanced options.

planetname      hd209-b

# Name of file(s) containing initial parameter values
modelfile       hd209bs24-initvals.txt # should have form 'wa012bs12-initvals.txt'

# SPECIFY OUTPUT FILE FOR print STATEMENTS
# You can no longer use sys.stdout for standard output (to screen)
# Filename must begin with "results" and end with ".txt". Can be left as is.
printout        results.txt

# CHOOSE 'orbits', 'days-utc' OR 'days-tdb' FOR MODELING AND PLOTING TIME UNIT
timeunit        orbits
tuoffset        0.0

# Model names and descriptions listed in /home/esp01/doc/models.txt.
# If EDGAR is run, this value will *not* be used; the model field from
# the EDGAR section of poet.pcf will be used instead.

model           mandelecl linramp bilinint
                #mandelecl bilinint

# Model Constants
mcmc            True                # Toggle MCMC. If False, the MCMC array
				    # will be populated with 0s. Setting to
				    # False significantly reduces processor
				    # load and runtime.
numit           1e1 1e2             # Number of iterations, (burn-in,final)
nbins           60                  # Number of bins
rwalk           snooker             # MCMC random walk: 'demc' or 'mrw'
boundecl        True                # Constrain the eclipse parameters to
                                    # start/end within initial and last data 
                                    # frames.
nchains         6                   # Number of chains in Gelman-Rubin test
chi2flag        1                   # 1: Adjust sigma s.t. reduced Chi^2 = 1
numcalc         50000               # Number of temperature calculations
thinning        10                  # Stepsize for histograms and correlation
                                    # plots
allplots        True                # Disply all plots (True) or display only
                                    # some plots (False)
leastsq         True                # Perform least-squares fit before MCMC
normflux        True                # Normalize flux at each position (set
                                    # False for posflux)
noisysdnr       None                # SDNR of noisy data set (None unless
                                    # using denoised data)

preclip         0                   # Remove first 'preclip' points
postclip        0                   # Remove last 'postclip' points

# Bin sizes for interpolative ip models
# if xstep and ystep are 0, the event's point-to-point positional
# variation in RMS in x, y resectively
xstep           0.                  # Bin size in x
ystep           0.                  # Bin size in y
minnumpts       4                   # Minimum # of points in a bin
isfixipmap      False               # Fix intrapixel mapping to best-fit
                                    # values after burn-in

# Smoothing parameters
issmoothing     False               # Turn smoothing on/off (True/False)
nx              3.                  # Kernel halfwidth in x
ny              3.                  # Kernel halfwidth in y
sx              1.5                 # Gaussian kernel std dev in x
sy              1.5                 # Gaussian kernel std dev in y

# Used with quadip4, otherwise set to 0
xdiv            0.0                 # Divide into quadrants here along x axis
ydiv            0.0                 # Divide into quadrants here along y axis
